.school-container{
    position: relative;
    display: inline-block;
}
.school-hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 250px;
    opacity: 0;
    transition: 0.4s ease;
    border-radius: 40px;
    overflow: hidden;
}
.school-hover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.school-container:hover .school-hover{
    opacity: 1;
}
.border{
    width: 350px;
    height: 250px;
    border: 2px solid rgb(255, 255, 255);
    border-radius:40px;
    padding: 5px;
}
.education-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding: 20px 0;
    padding-left: 120px;
}

h1 {
    font-size: 2.5rem !important; 
}

@media (max-width: 992px) {
.education-row, .command, .contactme, .interest-container, .sidebar {
    padding-left: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
    max-width: 100vw !important;
    overflow-x: hidden;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
}