.instrument-container{
    position: relative;
    height: 250px; 
    width: 450px; 
    padding-top: 0;
    padding-left: 10px;
    display: flex;
    align-items: center;
    transition: width 0.7s cubic-bezier(0.22, 1, 0.36, 1);
} 
.instrument-container:hover{  
    width: 950px; 
} 
.slider-card{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px; 
    width: 500px; 
    height: 350px; 
    background: #000;
    border-radius: 20px;
    z-index: 1; 
    overflow: hidden;
    opacity: 0;
    transition: all 0.7s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: 0 10px 30px rgba(0, 170, 255, 0.15); 
}
.instrument-container:hover .slider-card{ 
    left: 380px; 
    opacity: 1;
}
input[type="radio"]{
    display: none; 
}
.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slides-track{
    display: flex;
    width: 500%;
    height: 100%;
    transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}
.slide{
    width: 20%;
    height: 100%;
    position: relative;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
}
#slide1:checked ~ .slider .slides-track {
    transform: translateX(0%); 
}
#slide2:checked ~ .slider .slides-track {
    transform: translateX(-20%); 
}
#slide3:checked ~ .slider .slides-track {
    transform: translateX(-40%); 
}
#slide4:checked ~ .slider .slides-track { 
    transform: translateX(-60%); 
}
#slide5:checked ~ .slider .slides-track { 
    transform: translateX(-80%); 
}
.nav{
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    z-index: 5;
}
.nav label{
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: 1px solid rgb(255, 255, 255);
    padding: 8px 16px;
    border-radius: 20px; 
    font-size: 13px;
    font-weight: bold;
    backdrop-filter: blur(8px);
    cursor: pointer;
    transition: 0.3s;
}
.nav label:hover{
    background:rgb(17, 61, 78);
    border-color: rgb(159, 228, 255);
    color: rgb(255, 255, 255);
}
.slide-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px 25px 25px 25px; 
    color: white;
    z-index: 3;
}
.slide-text h3{
    margin: 0;
    font-size: 22px;
    text-shadow: 2px 2px 5px black;
}
@media (max-width: 992px){
.instrument-container {
    width: 100% !important;
    height: auto !important;
    flex-direction: column;
}

.instrument-container:hover{
    width: 100% !important; 
}

.slider-card{
    position: relative !important; 
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
    width: 95% !important;
    height: 300px !important;
    margin-top: 20px;
    opacity: 0;
    display: none;
}
.instrument-container:hover .slider-card{
    display: block;
    opacity: 1;
}
}