.sidebar{
    background-color: rgb(0, 0, 0 ,0.9);
    color: white;
    width: 200px;
    height: 560px;
    text-align: center;
    border-radius: 30px;
    margin-top: 40px;
    position: sticky;
    top: 70px;
    z-index: 1000;
    gap: 30px;
    box-shadow: 2px 2px 5px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.sidebar ul{
    padding: 0;
    margin: 0;
    width: 100%;
}
.sidebar ul li{
    list-style: none;
    margin-bottom: 15px; 
    width: 100%;
    padding: 0px;
    padding-right: 10px;
    padding-left: 10px;
}
.sidebar ul li a{
    display: block; 
    text-align: center;
    /* padding-left: 5px; */
    text-decoration: none;
    color: #ffffff; 
    padding: 7px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}
.sidebar ul a:hover{
    color: #ffffff;
    text-shadow: 0 0 10px #00aaff, 0 0 20px #00aaff;
}
.sidebar h1{
    padding-top: 20px;
}
hr{
    width: 170px;
    border: 1px solid white;
    opacity: 0.5;
    border-radius: 10px;
    margin: 0;
    margin-bottom: 25px;
}
.collapse{
    width: 100%;
}
[data-bs-toggle="collapse"][aria-expanded="true"]{
    color: #00aaff; 
}
.sub-link{
    font-size: 0.85rem !important;
    padding: 5px !important;
    margin-bottom: 5px !important;
}
.sidebar ul li a.nav-box:hover{
    color: #7ad3ff !important;
    font-size: 1.1rem !important;
}
@media (max-width: 992px){
.sidebar {
    display: none; 
    width: 100%;
    position: fixed;
    top: 60px;
}
#nav-toggle:checked ~ .sidebar{
    display: flex;
}
.nav-toggle-btn{
    display: block;
    padding: 10px;
    background: black;
    color: white;
    text-align: center;
}
}